html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.square {
  height: 50px;
  width: 50px;
  outline: 0;
  border: 3px solid #000;
  background: #fff;
  margin-top: -1px;
  margin-right: -1px;
  line-height: 50px;
  float: left;
  font-size: 3rem;
  font-weight: 600;
  color: tomato;
}

.board {
  margin: 4rem 4rem;
  display: flex;
  flex-direction: column;
}
.status {
  font-size: 2rem;
  font-weight: 500;
  padding: 10px;
}

.reset {
  background-color: #28caa7;
  margin: 2rem;
  font-size: medium;
  font-weight: 500;
  color: black;
}
